/* --------- General --------- */
@import url(https://fonts.googleapis.com/css?family=Raleway)
@import url(https://fonts.googleapis.com/css?family=Roboto)

.section-title
  padding-bottom: 10px

h4 span
  position: relative

.right
  border-left: dashed 1px #897f8a
  padding-bottom: 50px


/* --------- CV Header --------- */

// HeaderSize
headerSize = 550px

#cvHeader
  background linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 100%), url('../images/gloshaugen.jpg') repeat 0 0
  text-align center
  background-attachment relative
  background-position center center
  height headerSize
  width 100%

  -webkit-background-size cover
  -moz-background-size cover
  background-size cover

  #falkPic
    width headerSize * (2/3)
    margin-top headerSize * (1/7)

body
  position: relative

  p
    font-family: 'Raleway', sans-serif

  h2
    font-family: 'Roboto', sans-serif

  h4, h5
    font-family: 'Roboto', sans-serif
    font-weight: bold


/* ---------- Social icons --------- */

#socialLink
  display: inline-block
  margin-top headerSize * (1/24)

.google
  background: url('../images/google.png') no-repeat
  background-color: white
  background-size: cover

.google:hover
  background-color: #3F85F4

.github
  background: url('../images/github.png') no-repeat
  background-color: white
  background-size: cover

.github:hover
  background-color: #338ACC

.linkedin
  background: url('../images/linkedin.png') no-repeat
  background-color: white
  background-size: cover

.linkedin:hover
  background-color: #0077B5
  z-index: 1

.facebook
  background: url('../images/facebook.png') no-repeat
  background-color: white
  background-size: cover

.facebook:hover
  background-color: #3b5998

.contactIcon
  width: 50px
  height: headerSize * (1/12)
  border-radius: headerSize * (1/24)
  -webkit-border-radius: headerSize * (1/24)
  -moz-border-radius: headerSize * (1/24)
  margin-left 6px
  margin-right 6px


/* --------- Navigation --------- */
#nav
  background-color: #2e2e2e
  z-index: 9999
  width:100%
  box-sizing:border-box
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1)
  text-align: center
  margin: 0 auto

.navbar
  margin-bottom: 0
  background-color: #2e2e2e
  z-index: 1

.navbar-brand
  font-weight: 700

.navbar-brand:focus
  outline: 0

.navbar-collapse .nav.navbar-bar
  text-align: center
  float: none
  margin: 0 auto

.navbar-custom ul.nav
  text-align: center
  float: none
  margin: 0 auto

.navbar-custom ul.nav li
  float: none
  display: inline-block
  text-align: center

.navbar-custom ul.nav li a
  font-size: 14px
  letter-spacing: 1px
  color: #ddd
  text-transform: uppercase
  font-weight: 700

.navbar-custom .nav li a
  -webkit-transition: background .3s ease-in-out
  -moz-transition: background .3s ease-in-out
  transition: background .3s ease-in-out

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active
  outline: 0
  background-color: #000

.navbar-toggle
  padding: 4px 6px
  font-size: 14px

.navbar-toggle:focus,
.navbar-toggle:active
  outline: 0


/* Media queries */

@media (max-width:768px)
  .navbar-header .fa
    color: #666

  .col-xs-6
    margin-bottom: 30px

@media (max-width:480px)

  .navbar.navbar-custom.navbar-fixed-top
    margin-bottom: 30px

  .page-scroll a
    width: 40px
    height: 40px
    margin-top: 10px
    font-size: 20px

//offset navbar
.offset
  padding-top: 50px


/* --------- About --------- */

#about
  background: #2c3e50
  padding-top: 60px
  padding-bottom: 60px
  color: white

  i
    color: white
    font-size: 20px
    padding-right: 8px
    vertical-align: middle

  .btn
    background: #2c3e50
    color: white


/* --------- Experience --------- */

#experience
  padding-bottom: 50px
  background: #F1F2F7

  .arrow
    margin-left: -26.3px
    margin-top: 32px
    float: left
    width: 22px
    height: 22px
    background: url(../images/arrow.png) no-repeat 0 0 #F1F2F7

 // For experience, education and frivillige verv
.description
  padding-left: 30px

.year
  text-align: right
  padding-right: 30px
  padding-top: 14px


/* --------- Education --------- */

#education
  background: #F1F2F7
  padding-bottom: 50px

  .arrow
    margin-left: -26.3px
    margin-top: 32px
    float: left
    width: 22px
    height: 22px
    background: url(../images/arrow.png) no-repeat 0 0 #F1F2F7

small.ed
  position: absolute
  top: -10px
  left: 0
  font-size: 12px


/* --------- Frivilige verv --------- */

#friviligeverv
  padding-bottom: 50px

  .arrow
    margin-left: -26.3px
    margin-top: 32px
    float: left
    width: 22px
    height: 22px
    background: url(../images/arrow.png) no-repeat 0 0 #ffffff


/* --------- Fritidsinteresser --------- */

#fritidsinteresser
  padding-bottom: 50px


