extends layout

block extraHeadScripts
    script(src='/javascript/cv.js')

block content
    header#cvHeader
        .col-md-4.col-md-offset-4
            img#falkPic.img-circle.img-thumbnail(src='images/falk_BW.jpg', alt='')
        .col-md-4.col-md-offset-4
            a#socialLink(href='https://github.com/hfalk')
                .github.contactIcon
            a#socialLink(href='https://www.linkedin.com/in/havardfalk')
                .linkedin.contactIcon

    #nav
        nav.navbar.navbar-custom(role='navigation')
            .container
                .row
                    .col-md-12
                        // Brand and toggle get grouped for better mobile display
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                                i.fa.fa-bars
                        // Collect the nav links, forms, and other content for toggling
                        .collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li
                                    a(href='#about') Om
                                li
                                    a(href='#education') Utdannelse
                                li
                                    a(href='#friviligeverv') Frivilige Verv
                                li
                                    a(href='#experience') Erfaring
                                li
                                    a(href='#fritidsinteresser') Fritidsinteresser

    #about(name='about')
        .container
            .row
                .col-lg-6.col-lg-offset-2
                    p Mitt navn er Håvard Hagen Falk. Jeg er effektiv, imøtekommende, har godt humør og er fleksibel. Erfaring med lederarbeid og teamjobbing fra utdanning, militærtjeneste og frivillige verv. Jeg har gode programmeringskunnskaper innenfor Java og Python, samt kunnskap i webdesign, Javascript(Node, Express), Html og Css.
                .col-lg-4
                    p
                        a.btn.btn-default.btn-lg(href='/files/cv.pdf', data-toggle='modal')
                            i.fa.fa-download.fa-lg
                            |       Download PDF

    #education(name='education').offset
        .container
            h2.section-title Utdannelse

            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                |2013
                            |            -
                            span
                                |      (2018)

                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 Norges teknisk-naturvitenskapelige universitet (NTNU)

                        h5 Sivilingeniørstudiet i Datateknologi, spesialisering innenfor kunstig intelligens.

                        p Relevante fag: IT grunnkurs (Python), Objektorientert programmering (Java), Algoritmer og datastrukturer, Datamodellering og databasesystemer, Kommunikasjon - Tjenester og nett, Programvareutvikling, Menneske-maskin interaksjon, samt standard-sivilingeniør emner.

            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 2008
                            |            -
                            span
                                |      2011
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 Berg videregående skole
                        h5 Studiespesialiserende - Realfag

    #friviligeverv(name='friviligeverv').offset
        .container
            h2.section-title Frivilige Verv

            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 2014
                            |            -
                            span
                                |      d.d
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 itDAGENE15
                        h5 Logistikkansvarlig
                        p itDAGENE er et årlig kontaktskapende arrangement mellom IT-studenter og næringsliv. Som logistikkansvarlig har jeg ansvar for det praktiske rundt arrangeringen, blant annet rigging, lage vaktlister og bestilling av lokaler og standutstyr.
            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 20013
                            |            -
                            span
                                |      d.d
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 Abakus linjeforening
                        h5 Fagkomitéen
                        p Fagkomitéen tilbyr faglige arrangementer til studentene i samarbeid med diverse it-bedrifter, blant annet kurs og konferanser. Har hatt ansvar for studentversjonen av Sikkerhet og sårbarhets konferansen.

    #experience(name='experience').offset
        .container
            h2.section-title Experience
            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 2015
                                small.ed Januar
                            |            -
                            span
                                |      d.d
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 NTNU IT - Orakeltjenesten
                        h5 Orakel
                        p Studentoraklene gir førstelinje datasupport for studenter ved Norges teknisk-naturvitenskapelige universitet. Jeg er også medlem i Faggruppe-utvikling som har ansvaret for utvikling av interne systemer.
                        p Prosjekter:
                        ul
                            li
                                b SMS API
                                p Bidragsyter til utviklingen av et REST API skrevet i node.js. Tjenesten er i stand til å sende og motta SMS i stor skala.
            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 2006
                                small.ed October
                            |            -
                            span
                                |      2007
                                small.ed November
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 Garnisonen i Sør-Varanger(GSV)
                        h5 Grensejeger - Patruljefører
                        p Ledet en patrulje på 6 soldater gjennom oppdragsløsning langs grensen, samt ved stasjonens analyse og kommandosentral.
                        p Kurs:
                        ul
                            li patruljeførerkurs, tillitsmannskurs og kurs i begrenset politimyndighet.
            .row
                .col-xs-12.col-sm-3.col-md-3.col-lg-3
                    .year
                        h4
                            span
                                | 20010
                            |            -
                            span
                                |      2013
                .col-xs-12.col-sm-9.col-md-9.col-lg-9.right
                    .arrow
                    .description
                        h4 Div sommer og deltidsjobber
                        p Vekter i G4S, butikkmedarbeider på Spar/Kjelsås, selger/mekaniker Birk sport AS, Hjelpemiddelteknisk enhet i Oslo med blant annet utdeling av hjelpemidler til funksjonshemmede.

    #fritidsinteresser(name='fritidsinteresser').offset
        .container
            h2.section-title Fritidsinteresser
            .spacer
            p Programmering, fotball, langrenn og sykling.
